<div class="dropdown">
    <button class="p-1.5 rounded-lg hover:bg-slate-700/50 text-slate-400 hover:text-white transition-all dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg>
        <span class="sr-only">{{#str}} aria:courseactions, block_myoverview {{/str}} {{{fullname}}}</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item {{#isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="add-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <svg class="w-4 h-4 text-amber-400 mr-2" fill="currentColor" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            {{#str}} addtofavourites, block_myoverview {{/str}}
        </a>
        <a class="dropdown-item {{^isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="remove-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <svg class="w-4 h-4 text-slate-400 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
            {{#str}} removefromfavourites, block_myoverview {{/str}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item {{^hidden}}hidden{{/hidden}}" href="#"
            data-action="show-course"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <svg class="w-4 h-4 text-cyan-400 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/></svg>
            {{#str}} show, block_myoverview {{/str}}
        </a>
        <a class="dropdown-item {{#hidden}}hidden{{/hidden}}" href="#"
            data-action="hide-course"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <svg class="w-4 h-4 text-rose-400 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l18 18"/></svg>
            {{#str}} hidecourse, block_myoverview {{/str}}
        </a>
    </div>
</div>
