<div class="course-progress-wrapper w-100">
    <div class="d-flex justify-content-between text-xs font-semibold mb-1">
        <span class="text-slate-400">Progress</span>
        <span class="text-cyan-400">{{progress}}%</span>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
