{{> theme_worldcampus/head }}
<body {{{ bodyattributes }}}>
    {{{ output.standard_top_of_body_html }}}

    <!-- Top Navigation -->
    {{> theme_worldcampus/navbar }}

    <main class="flex-1">
        <!-- React 19 + Shadcn UI Frontpage Hero Component -->
        <div data-react-mount="FrontpageHero" data-props="{{{react_props_json}}}"></div>

        <!-- Moodle Main Frontpage Content -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
            {{{ output.main_content }}}
        </div>
    </main>

    {{> theme_worldcampus/footer }}

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
