{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_worldcampus/custom_courses_block

    Custom courses block for theme frontpage.
}}
<section class="custom-courses-section py-5 bg-light">
    <div class="worldcampus-container-fluid">
        <div class="section-header text-center mb-5">
            <span class="section-badge">{{#str}}explorecourses, theme_worldcampus{{/str}}</span>
            <h2 class="section-title"><span class="text-gradient" data-text="{{frontpage_courses_title}}">{{frontpage_courses_title}}</span></h2>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap justify-content-start w-100">
                {{#frontpage_courses}}
                    {{> theme_worldcampus/worldcampus_coursecard }}
                {{/frontpage_courses}}
            </div>
            {{^frontpage_courses}}
                <div class="col-12 text-center text-muted">
                    <p>{{#str}}nocoursesfound, theme_worldcampus{{/str}}</p>
                </div>
            {{/frontpage_courses}}
        </div>

        {{! View All Button - Show only once if we have courses and more to show }}
        {{#show_view_all}}
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <a href="{{view_all_url}}" class="btn btn-lg btn-primary">
                    View All {{total_courses}} Courses
                    <i class="fa fa-arrow-right ms-2"></i>
                </a>
            </div>
        </div>
        {{/show_view_all}}
    </div>
</section>
