{{!
    @template theme_worldcampus/frontpage_custom_content
    Custom content section - Clean & Simple Design
}}

{{#frontpage_custom_content}}
<section class="frontpage-custom-content-section py-4 bg-light">
    <div class="worldcampus-container-fluid">
        <div class="custom-content-wrapper">
            {{{frontpage_custom_content}}}
        </div>
    </div>
</section>
{{/frontpage_custom_content}}
