{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ sitename }}} - Maintenance</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body {{{ output.body_attributes }}}>
    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container pb-3 mt-4">
        <div class="row">
            <div class="col-12 py-3 page-header-headings">
                <h1>{{{ sitename }}}</h1>
            </div>
        </div>

        <div id="page-content" class="row">
            <div id="region-main" class="col-12">
                <span id="user-notifications"></span>
                <div role="main">
                    <span id="maincontent"></span>
                    {{{ output.main_content }}}
                </div>
            </div>
        </div>
    </div>

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
