{{#react_navbar_props_json}}
    <div data-react-mount="Navbar" data-props="{{{react_navbar_props_json}}}"></div>
{{/react_navbar_props_json}}
{{^react_navbar_props_json}}
    <div data-react-mount="Navbar" data-props='{"wwwroot":"{{{config.wwwroot}}}","isLoggedIn":{{#isloggedin}}true{{/isloggedin}}{{^isloggedin}}false{{/isloggedin}},"userFullname":"{{user_fullname}}","sesskey":"{{{config.sesskey}}}"}'></div>
{{/react_navbar_props_json}}
