<div class="box py-3 generalbox alert alert-warning">
    <div class="mb-2 mt-1 d-flex alert-heading">
        <span><i class="icon fa fa-circle-info fa-fw " aria-hidden="true"></i></span>
        <h3 class="h6 mb-0">{{#str}}supportandservices, admin{{/str}}</h3>
    </div>
    <p>{{#str}}themedevelopedby, theme_worldcampus{{/str}} - <a href="https://samastanuswantara.com">samastanuswantara.com</a></p>
    <p>{{#str}}needsupport, theme_worldcampus{{/str}} <a href="https://samastanuswantara.com">{{#str}}contactus, theme_worldcampus{{/str}}.</a> {{#str}}pleasuretohelp, theme_worldcampus{{/str}}</p>
    <a href="https://samastanuswantara.com">
        <img style="width: 200px;" class="img-fluid mt-2" src="{{config.wwwroot}}/theme/worldcampus/pix/tateta.png" alt="Logo samastanuswantara.com" loading="lazy">
    </a>
</div>